<h1>Market Place</h1>

<a class="action-button" href="/admin">Admin</a>
<a class="action-button" href="/markets">Markets</a>

<section class="about-section">
  <h2> About</h2>

  <h3>
    Market 
  </h3>
  <p> A market is the destination / place that opens for business on some days of the year but not for 24 hours (such as online shopping) to sell goods and services e.g. Queen Vic Market, local farmers market. </p>

  <h3>
    Market Date (or Market Day)
  </h3>
  <p>
      - A market date is the duration when a particular market is open for business. Market Days are the same thing, but market date is preferred as a market should be able to be opened over multiple days (i.e. past midnight). 
  </p>

  <h3>
   Stalls
  </h3>
  <p>
    - The primary users for this website. Sellers can set-up stalls and add products to the market once they have logged in.
  </p>

</section>