<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Market Place</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if logged_in? %>
    <%= get_current_seller[:email] %> - <%= session[:user_id] %>
  <% end %>

  <nav>
    <a href="/">home</a>
    <a href="/markets">markets</a>
  </nav>
  
  <%= yield %>

</body>
</html>
