<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Market Place</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if is_logged_in? %>
    <%= get_current_user[:email] %> - <%= session[:user_id] %>
  <% end %>
  
  <%= yield %>

</body>
</html>
