<h1>Seller</h1>

<h2><%= @seller[:seller_name] %></h2>
<h2><%= @seller[:email_address] %></h2>
<h2><%= @seller[:website] %></h2>

<% if seller_logged_in?(@seller[:seller_id]) %>
  <a href="<%= @edit_action_path %>">Edit</a>
<% end %>