<h1 class="edit-form-header" >Signup</h1>
<form class="edit-form" action="/sellers/signup" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email">
  <label for="seller_name">Name:</label>
  <input type="text" name="seller_name"> 
  <label for="password">Password:</label>
  <input type="password" name="password">
  <label for="website">Website:</label>
  <input type="text" name="website">
  <button class="action-button" >Sign up!</button>
</form>